SEED='notice oak worry limit wrap speak medal online prefer cluster roof addict wrist behave treat actual wasp year salad speed social layer crew genius'
ACCOUNTS_PER_SEED=100
RPC_ENDPOINT=http://localhost:26657
QUEUE_NAME=throughput_test
GAS_PRICE=1uosmo
ATOM_DENOM=uion
OSMO_DENOM=uosmo
MAX_THREADS=20
OUTPOST_ARTIFACTS_PATH="/Users/<username>/outposts/artifacts/"
CHAIN_ID="localosmosis"
LIQUIDATION_QUEUE_NAME="executor"
CONTRACT_REDBANK_ADDRESS="osmo1fyr2mptjswz4w6xmgnpgm93x0q4s4wdl6srv3rtz3utc4f6fmxeqfjmkr6"
CONTRACT_ORACLE_ADDRESS="osmo1vhndln95yd7rngslzvf6sax6axcshkxqpmpr886ntelh28p9ghuqqgjjmc"
